version: '3.7'

services:

  templates-service:
    build: 
      context: ../server-side
      dockerfile: Dockerfile
    container_name: templates
    ports:
      - '5010:5000'
    networks:
      - docaut
    environment:
      - ASPNETCORE_ENVIRONMENT=docker
      
  mongo:
    image: mongo:4
    restart: on-failure:5  
    container_name: mongodb
    environment:
      MONGO_INITDB_DATABASE: gendoc_db
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: meerkat125
    networks:
      - docaut
    ports:
      - 27017:27017
    volumes:
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js
      - mongo:/data/db
      
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - 3000:3000
    networks:
      - docaut
    volumes:
      - grafana:/var/lib/grafana
      
  influxdb:
    image: influxdb
    container_name: influxdb
    ports:
      - '8086:8086'
    networks:
      - docaut
    environment:
      - INFLUXDB_DB=docaut 
    volumes:
      - influxdb:/var/lib/influxdb 
      
networks:
  docaut:
    name: docaut-network
    
volumes:
  mongo:
    driver: local
  grafana:
    driver: local
  influxdb:
    driver: local