.Home__templatesTable td{
  vertical-align: middle !important;    
  padding-top: 5px;
  padding-bottom: 5px;    
}
.Home__templatesTable td:nth-last-child(1){   
  text-align: right; 
}

.Home__templatesTable td span{
  font-size: 12pt;
  padding-right: 12px;
}